/* Diseño mobile para 480px */
@font-face {
  font-family: Lyon;
  src: url(../fonts/Lyon\ Text-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Pangram;
  src: url(../fonts/Pangram-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Pangram;
  src: url(../fonts/Pangram-Bold.otf);
  font-weight: bold;
}
:root{
  --color-red: #ca2206;
  --color-green: #005651;
  --color-white: #fff;
  --color-greenish: #B4CABA;
  --font-prime: Pangram, sans-serif;
  --font-impt: Lyon, serif;
}
/*  */
body{
  font-family: var(--font-prime);
}
.navbar{
  border-top: 2px solid var(--color-red);
  background-color: var(--color-greenish);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 800;
}
.backoffice{
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.backoffice>header{
  font-family: var(--font-impt);
  padding: 20px;
  text-align: center;
}
.backoffice>article{
  position: sticky;
  top: 50px;
  background-color: var(--color-red);
  padding: 20px 10px;
  border-bottom: 2px solid var(--color-greenish);
  z-index: 500;
}
.backoffice>article>p{
  width: 80%;
  margin: 0 auto;
  font-family: var(--font-impt);
  color: var(--color-white);
}
.backoffice>form{
  width: 80%;
  margin: 0 auto 10px;
  padding: 10px 5px 30px;
}
.backoffice>form input,
.backoffice>form textarea{
  margin: 10px 0px;
  border-radius: 20px;
}
.textarea.is-small{
  border-radius: 20px;
}

.backoffice>form button{
  margin: 5px 0px;
}
.backoffice>form button>i{
  margin-right: 10px;
}
