/* Diseño mobile para 480px */
@font-face {
  font-family: Lyon;
  src: url(../fonts/Lyon\ Text-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Pangram;
  src: url(../fonts/Pangram-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Pangram;
  src: url(../fonts/Pangram-Bold.otf);
  font-weight: bold;
}
:root{
  --color-red: #ca2206;
  --color-green: #005651;
  --color-white: #fff;
  --color-greenish: #B4CABA;
  --font-prime: Pangram, sans-serif;
  --font-impt: Lyon, serif;
}
*{
  box-sizing: border-box;
}
body{
  font-size: 24px;
  font-family: var(--font-prime);
}
.hidden{
  display: none;
}

.clickable{
  cursor: pointer;
}
.svg_green{
  fill: var(--color-green);
}
.svg_red{
  fill: var(--color-red);
}
a{
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
a:hover{
  color: var(--color-green) !important;
  text-decoration: 2px solid var(--color-green) !important;
/*   background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 6px; */
}
main>section>header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 25pt;
  position: relative;
  top: 0px;
  z-index: 850;
}
section>footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
section>footer a{
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 2px solid var(--color-red);
  background-color: transparent;
}

/* ////////////// *** NAV-BAR *** ////////////// */
.nav-bar{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
  width: 100%;
  background-color: transparent;
  z-index: 900; /* 900 va a ser el default para Modales */
  /* la nav quedara entre 850 y 890 */
}
.nav-bar_icons{
  position: relative;
  height: 38px;
  width: 38px;
}
.nav-bar_icons>i{
  position: absolute;
  top: 0;
  left: 0;
}
.nav-bar_icons svg,
.nav-bar_logo svg{
  height: 38px;
  width: auto;
}
/* ////////////// *** NAV *** ////////////// */
.nav{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 200px;
  display: grid;
  grid-template-areas: "... ..." "... ..." "menu ..." "menu ..." "menu ..." "social social";
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: 0.6s;
  background-color: var(--color-red);
  z-index: -1;
}
.nav-links{
  grid-area: menu;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
}
.nav-links>a{
  font-size: 25px;
  color: var(--color-white);
  /* font-family: Pangram, sans-serif; */
  padding-bottom: 10px;
  margin-bottom: 20px;
  transition: 0.4s;
}
.nav-links>a:hover{
  text-decoration: underline;
}
.nav-links>a[selected]{
  text-decoration: underline;
}
.nav-social{
  grid-area: social;
  height: 114px;
  width: 100%;
  display: flex;
  padding: 38px;
}
.nav-social svg{
  height: 22px;
  margin: 0px 20px;
  transition: 1s;
}
.nav-social .social_icon{
  fill: var(--color-white);
  padding: 4px;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s;
}
.nav-social>a:hover .social_icon{
  opacity: 0.4;
}

/* ////////////// *** HERO *** ////////////// */
.hero{
  height: 100vh;
  background-image: url(../img/hero-img.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero>header{
  background-color: transparent;
}
.hero>article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.hero>article>h2{
  position: relative;
  font-family: var(--font-impt);
  font-size: 40px;
  color: var(--color-white);
  z-index: 100;
}
.hero>article>h2>img{
  position: absolute;
  left: -40px;
  bottom: -40px;
  height: 70px;
  z-index: 99;
}

.hero>footer a{
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
  border: none;
}
/* ////////////// *** DISFRUTA *** ////////////// */
.disfruta{
  background-image: url(../img/disfruta-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.disfruta>article{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 52px;
  color: var(--color-green);
}
.disfruta>article h3{
  font-family: var(--font-impt);
  font-size: 0pt;
  line-height: 1em;
  margin-top: 48px;
  margin-bottom: 30px;
}
.disfruta>article p{
  padding-left: 30%;
  padding-right: 5%;
  margin-bottom: 100px;
  font-size: 0.9em
}
.disfruta>article .vectorImg{
  position: absolute;
  top: calc(50% - 85px);
  left: -36px;
  width: 100%;
  height: 285px;
  z-index: 1;
}
.disfruta>article .vectorImg img{
  position: absolute;
  height: auto;
}
.disfruta>article .vectorImg [data-title="cuchillo"]{
  left: 57px;
  top: 0px;
  width: 48px;
/*   animation-delay: 2s; */
}
.disfruta>article .vectorImg [data-title="tabla"]{
  left: 0px;
  top: 28px;
  width: 162px;
}
.disfruta>article .vectorImg [data-title="tomate"]{
  left: 108px;
  top: 142px;
  width: 72px;
/*   animation-delay: -2s; */
}
.disfruta>article .vectorImg [data-title="rojo"]{
  right: 0px;
  top: 195px;
  width: 183px;
}
.disfruta>article .vectorImg [data-title="lechuga"]{
  left: 162px;
  top: 214px;
  width: 78px;
}
.disfruta>article .vectorImg [data-title="sello"]{
  left: 113px;
  top: 200px;
  width: 65px;
}
.disfruta>article a{
  color: var(--color-red);
  border: 3pt solid var(--color-red);
  font-weight: bold;
  text-align: center;
}
.disfruta>footer a{
  text-transform: uppercase;
  color: var(--color-red);
  font-size: 10pt;
  line-height: 1.2em;
  padding: 0.4em 1em;
  margin-bottom: 2em;
}
.disfruta>footer a:hover{
  color: var(--color-greenish);
}
/* ////////////// *** DISFRUTA *** ////////////// */
.aprende>article{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 52px;
}
.aprende>article>.event{
  margin: 70px auto 0px;
}
.aprende>article>.event>img{
  width: 62%;
  height: 62vw;
  display: block;
  object-fit: cover;
  margin: 0 auto 40px;
}
.aprende>article>.event>h2{
  width: 62%;
  font-size: 1.3em;
  color: var(--color-red);
  font-family: var(--font-impt);
  margin: 0 auto 30px;
  line-height: 1.2em;
  text-align: center;
}
.aprende>article>.event>p{
  width: 65%;
  color: var(--color-red);
  font-size: 0.7em;
  margin: 0 auto 30px;
  text-align: center;
}
.aprende>article>.event>h5{
  width: 65%;
  color: var(--color-red);
  font-size: 0.7em;
  margin: 0 auto 20px;
  text-align: center;
}
.aprende>article>.event>a{
  width: 65%;
  display: block;
  margin: 0 auto;
  text-decoration: underline;
  text-align: center;
  font-size: 0.7em;
  color: var(--color-red);
}
/* ////////////// *** COMPARTI *** ////////////// */
.comparti{
  background-color: var(--color-greenish);
}
.comparti>article{
  position: relative;
}
.comparti>article>h4{
  font-size: 25pt;
  font-weight: bold;
  font-family: var(--font-impt);
  width: 46%;
  margin: 20px 27% 20px;
  line-height: 1.2em;
}
.comparti>article>h4>.first{
  margin-top: 30px;
  color: #848F69;
}
.comparti>article>h4>.last{
  color: #003E3A;
}
.comparti>article>article{
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
}
.comparti>article>img{
  width: 100%;
  max-height: 90vw;
  object-fit: cover;
}
.comparti>footer{
  position: relative;
}
.comparti>footer>a{
  position: absolute;
  bottom: 10vh;
  color: var(--color-white);
  border: 3pt solid var(--color-white);
  text-transform: uppercase;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  padding: 0.6em 0.8em;
  text-align: center;
  line-height: 1.5em;
  z-index: 500;
}
/* ////////////// *** NOSOTROS *** ////////////// */
.nosotros{
  background-image: url('../img/ROJO_alta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nosotros>article{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
}
.nosotros>article>img,
.nosotros>article>h3,
.nosotros>article>p,
.nosotros>article>a{
  width: 62.5%;
}
.nosotros>article>img{
  margin-top: 40px;
}
.nosotros>article>h3{
  margin-top: 30px;
  font-family: var(--font-impt);
  font-size: 27pt;
  line-height: 1.2em;
}
.nosotros>article>p{
  margin-top: 30px;
  font-size: 11pt;
  line-height: 1.4em;
}
.nosotros>article>.somos{
  width: 75%;
  padding-left: 18%;
}
.nosotros>article>.somos>strong{
  font-weight: bold;
}
.nosotros>footer a{
  color: var(--color-white);
  border: 3pt solid var(--color-white);
  text-transform: uppercase;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  padding: 0.6em 0.8em;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 50px;
  margin-top: 30px;
  /* width: 32%; */
}
/* ////////////// *** ENCONTRANOS *** ////////////// */
.encontranos>article{
  width: 100%;
  min-height: 40vh;
}

/* ////////////// *** FOOTER *** ////////////// */
body>footer{
  background-color: rgba(186,202,186,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  color: var(--color-red);
  text-align: center;
  z-index: 550;
}
body>footer>article>h4{
  font-size: 15pt;
  line-height: 1.2em;
  margin-bottom: 40px;
}
body>footer>article>p{
  font-size: 10pt;
  line-height: 2.3em;
  margin-bottom: 30px;
}
body>footer>.social-links{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
body>footer>.social-links a{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
body>footer>.social-links a svg{
  height: 90%;
  width: auto;
  color: var(--color-red);
  transition: 0.4s;
}
body>footer>.social-links a:hover svg{
  height: 30px;
  color: var(--color-green);
}
/* ////////////// *** BackOffice *** ////////////// */
/* ////////////// *** BackOffice *** ////////////// */
.backoffice{
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-red);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.backoffice>header{
  position: sticky;
  top: 0px;
}
.backoffice>form{
  width: 100%;
}
.backoffice .event{
  width: 80%;
  margin: 0 auto 20px;
  font-size: 16pt;
  padding: 5px;
  background-color: var(--color-greenish);
  border-radius: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  'img img title title title'
  'img img text text text'
  'img img time time time'
  'img img link link link'
  'upload upload button button button';
}
.backoffice .event>img{
  /* width: 200px; */
  object-fit: cover;
  grid-area: img;
}
.backoffice .event>.title{
  font-size: 2em;
  color: var(--color-red);
  font-family: var(--font-impt);
  grid-area: title;
}
.backoffice .event>.text,
.backoffice .event>.date,
.backoffice .event>.link
{
  font-size: 1.2em;
}
.backoffice .event>.text{
  grid-area: text;
}
.backoffice .event>.date{
  grid-area: time;
}
.backoffice .event>.link{
  grid-area: link;
}
.backoffice .event>.button{
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  grid-area: button;
}
@media screen and (max-width: 967px){
  .mobile-hidden{
    display: none;
  }
}
@media screen and (min-width: 600px){
  .comparti article h4{
    font-size: 50px;
    z-index: 60;
  }
}
@media screen and (min-width: 968px){
  .desktop-hidden{
    display: none;
  }
  .nav-bar{
    width: 170px;
    height: 30vh;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-left: 30px;
    z-index: 860;
  }
  .nav{
    grid-template-areas: "..." "..." "menu" "menu" "menu" "social";
    width: 170px;
    background-color: var(--color-red);
    padding-top: 30vh;
  }
  .nav-links{
    padding-left: 40px;
    width: 150px;
  }
  .nav-links>a{
    color: var(--color-white);
    font-size: 16px;
  }
  .nav-social .social_icon{
    fill: var(--color-red);
  }
  .nav-social{
    padding: 10px;
  }

  main>section{
    display: flex ;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    align-items: flex-start
  }
  main>section>article{
    width: calc(100% - 170px - 170px);
    min-height: 100vh;
  }
  main>section>header>h2{
    transform: rotate(-90deg);
  }
  main>section>header{
    width: 170px;
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 850;
    flex-direction: column;
  }
  .hero>article>h2,
  .disfruta>article h3,
  .comparti>article>h4,
  .nosotros>article>h3{
    font-size: 60pt;
  }
  main>section>footer{
    width: 170px;
    height: 100vh;
    font-size: 16px;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 999;
  }
  main>section>footer a:first-child:before{
    content: "-"
  }
  #hero-foot_descarga{
    display: none;
  }
  main>.hero>footer a:last-child{
    border: 2px solid var(--color-white);
    text-decoration: none;
  }
  /* HERO */
  .hero{
    display: grid;
    grid-template-columns: 170px 1fr;
  }
  .hero>article{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .hero>article>h2{
    margin-bottom: 60px;
  }
  .hero>article>h2>img{
    height: 100px;
    bottom: -45px;
    left: -55px;
  }
  .hero>header{
    grid-column: 1 / 2;
    background-color: white;
    z-index: 0;
  }
  /* APRende */
  .disfruta{
    display: grid;
    grid-template-columns: 170px 1fr;
  }
  .disfruta>article{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
  }
  .disfruta>article>h3{
    margin-right: calc(170px + 8vw);
    margin-bottom: 60px;
    font-size: 80px;
    z-index: 500;
  }
  .disfruta>article>p{
    margin-right: calc(170px + 8vw);
    padding: 0px;
    width: 40%;
    line-height: 1.3em;
    z-index: 500;
  }
  .disfruta>article .vectorImg [data-title="rojo"] {
    right: 170px;
    top: 195px;
    width: 30%;
  }
  .disfruta>article .vectorImg [data-title="cuchillo"]{
    top: -295px;
    left: 100px;
    width: calc(48px + 8%);
  }
  .disfruta>article .vectorImg [data-title="tabla"]{
    left: -50px;
    top: -285px;
    width: calc(162px + 25%);
    opacity: 0.7;
  }
  .disfruta>article .vectorImg [data-title="tomate"]{
    left: 280px;
    top: 120px;
    width: calc(72px + 10%);
  }
  .disfruta>article .vectorImg [data-title="lechuga"]{
    left: 362px;
    top: 264px;
    width: calc(78px + 13%);
  }
  .disfruta>article .vectorImg [data-title="sello"]{
    left: 273px;
    top: 286px;
    width: calc(65px + 6%);
  }
  .aprende{
    position: relative;
  }
  .aprende .roja{
    position: absolute;
    top: 40px;
    right: -130px;
    z-index: -1;
    height: 300px;
    width: 250px;
  }
  .aprende>article{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 1%;
  }
  .aprende>article>.event{
    margin-top: 20px;
    width: 32%;
  }
  .aprende>article>.event>img{
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .aprende>article>.event>h2{
    width: 90%;
    font-size: 28pt;
    margin-bottom: 20px;
    text-align: center;
  }
  .aprende>article>.event>p{
    width: 80%;
    font-size: 0.8em;
  }
  .aprende>article>.event>h5{
    width: 80%;
    font-size: 0.8em;
  }
  .comparti>header{
    /* width: 170px; */
  }
  .comparti>article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: calc(100% - 170px);
    height: 100vh;
    z-index: 2;
  }
  .comparti>article>img{
    grid-column: 2 / span 1;
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
  .comparti>article>h4{
    position: relative;
    grid-column: 1/ span 1;
    font-size: 65px;
    width: 70%;
    margin: 0px 15%;
  }
  .comparti .sepillin{
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 25px;
    left: -190px;
  }
  .nosotros>article{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
    'imagen titulo'
    'imagen texto'
    'imagen somos';
    /* height: 100vh; */
    align-items: flex-start
  }
  .nosotros>article>img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .nosotros>article>h3,
  .nosotros>article>p,
  .nosotros>article>a{
    width: 80%;
  }
  .nosotros>article>img{
    margin-top: 0px;
    grid-area: imagen;
  }
  .nosotros>article>h3{
    grid-area: titulo;
    margin-left: 30px;
    font-size: 60px;
  }
  .nosotros>article>p{
    grid-area: texto;
    margin-left: 30px;
    font-size: 20px;
  }
  .nosotros>article>.somos{
    grid-area: somos;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .encontranos>article{
    height: 100vh;
  }
  body>footer{
    display: grid;
    grid-template-areas: 
    "... ... logo logo ... dir num social"
    "... ... logo logo ... ... byc ..."
    "... ... ... ... ... ... byc ...";
    padding: 30px 60px;
    text-align: left;
  }
  body>footer>.foot-logo{
    grid-area: logo;
  }
  body>footer>.foot-dir{
    grid-area: dir;
  }
  body>footer>.foot-dir p{
    margin-left: 40px;
  }
  body>footer>.foot-num{
    grid-area: num;
  }
  body>footer>.foot-byc{
    grid-area: byc;
  }
  body>footer>.social-links{
    grid-area: social;
    width: 30%;
    justify-content: flex-end;
  }
  body>footer>article>p{
    line-height: 1.8em;
    margin-bottom: 20px;
  }
  body>footer>.social-links a{
    margin-left: 30px;
  }

}
.special-social{
  display: none;
}
@media screen and (min-width: 968px){
  .special-social{
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 30px;
    z-index: 860;
  }
  .special-social>a{
    color: var(--color-red);
    max-width: 34px;
    max-height: 34px;
    margin-right: 15px;
  }
  .special-social>a>svg{
    width: auto;
    height: 34px;
    padding: 5px;
    fill: var(--color-red);
  }
  .special-social>a:hover>svg{
    fill: var(--color-green);
  }
}
