@font-face {
  font-family: Lyon;
  src: url(../fonts/Lyon\ Text-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Pangram;
  src: url(../fonts/Pangram-Regular.otf);
  font-weight: normal;
}
*{
  box-sizing: border-box;
}
body{
  font-size: 24px;
}
main{
  background-image: url(../img/ROJO_alta.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.placeholder{
  width: 90%;
}
h2{
  font-family: Lyon;
  color: white;
  font-size: 1.602em;
  margin-bottom: 1.1em;

}
h5{
  font-family: Pangram;
  color: white;
  font-size: 1.125em;
}

@media screen and (max-width: 320px){
  h2{
    font-size: 1.296em;
    margin-bottom: 1.067em;
  }
  h5{
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.074em;
    margin-bottom: 1.25em;
  }
}

@media screen and (min-width: 960px){
  h2{
    font-size: 2.441em;
    margin-bottom: 1.333em;
  }
}

@media screen and (min-width: 1200px){
  h2{
    font-size: 2.827em;
    margin-bottom: 1.414em;
  }
}
